/* Media per responsive */

/* Media per MD */

@media screen and (max-width:992px) {
  .recently-played li, .creato-john li, .artist-popolar li{
    flex-basis: 25%;
  }

}

/* Media per SM */

@media screen and (max-width: 768px){
  .recently-played li, .creato-john li, .artist-popolar li{
    flex-basis: 50%;
  }

}


/* Media per XS */

@media screen and (max-width: 576px){

  /* Menu */
  .hover-white, .playlist-text, .colonna-1 .white, #img-logo{
    display: none;
  }

  /* Nav */

  .nav-basso{
    text-align: center;
  }
  .nav-basso hr, .nav-basso #text-john, .non-exist{
    display: none;
  }

  #img-profile{
    margin-right: 18px;
  }

  .toping{
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .linea-verde-nav a:last-child{
    display: none;
  }

  #back-color-main{
    background-color: rgb(20, 25, 30);
    width: calc(100% - 50px);
    margin-left: 50px;
    height: calc(100% - 100px);
    margin-bottom: 90px;
  }

  .back-color-nav{
    width: 50px;
  }

  .padding-nav{
    padding: 0;
  }

  .colonna-nav{
    text-align: center;
  }

  #img-logo-small{
    display: block;
    max-width: 25px;
    max-height: 25px;
    margin-left: 13px;
  }

  .colonna-1 {
    text-align: center;
  }

  /* Footer */

  .padding-can-fix{
    padding-left: 3px;
  }

  .canzone img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px;
  }

  .canzone h6{
    font-size: 0.7rem;
  }

  .play i, .volume ul li{
    padding: 0 7px;
  }

  .play li i{
    font-size: 16px;
  }

  .fix-home{
    flex-grow: 1;
  }

}

@media screen and (max-height: 180px){
  #upgrade-text{
    display: none;
  }
}
