/* Intestazione Generali della pagina */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr{
  margin: 5px 0;
  width: 90%;
}

ol, ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h6{
  margin-bottom: 0;
}


/* Colore */

.white{
  color: white;
}

.grey-text{
  color: rgb(163, 163, 163);
}

/* Header */

.fixed-navigazione{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.back-color-nav{
  background-color: rgb(0, 0, 0);
  height: calc(100vh - 90px);
  width: 232px;
  z-index: 1150;
}

/* Nav */

.padding-nav{
  padding: 10px 20px;
}

#img-logo{
  max-width: 150px;
  max-height: 100px;
  margin-top: 10px;
  color: white;
  padding-bottom: 20px;
}

.center li a:last-child{
  line-height: 25px;
  text-align: center;
}

.misura{
  color: rgb(163, 163, 163);
  padding: 5px 0;
}

.misura img{
  max-width: 25px;
  max-height: 25px;
}

.misura a{
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-size: 14px;
  font-weight: bold;
}

.linea-verde-nav:hover{
  border-left: 4px solid rgb(31, 255, 47);
  margin-left: -18px;
  padding-left: 14px;
}

.linea-verde-nav a:hover{
  color: white;
}

.misura ul{
  list-style-type: none;
}

.misura ul li{
  padding: 5px 0;
}

.fix-home{
  margin-bottom: 10px;
}


/* Playlist */

.bordo-piu{
  border: 1px solid;
  border-color: rgb(163, 163, 163);
  background-color: rgb(163, 163, 163);
  padding: 10px;
  font-size: 20px;
  color: black;
}

.hover-white a:hover{
  color: white;
}

.bordo-piu:hover{
  border-color: white;
  background-color: white;
}

/* 3 parte nav */

.playlist-text a{
  display: block;
}

.playlist-text a:hover{
  color: white;
}

.playlist-text ul{
  list-style-type: none;
}

.colonna-nav{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 100px);
}

hr:not([size]){
  height: 2px;
}

#img-profile{
  background-color: rgb(163, 163, 163);
  border: 1px solid;
  border-radius: 50%;
  padding: 9px;
}


.nav-basso ul li{
  display: inline-block;
}

.nav-basso a:hover{
  color: white;
}

#text-john{
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

/* Menu */

.contenitore{
  padding: 0 20px;
}

#back-color-main{
  background-color: rgb(20, 25, 30);
  width: calc(100% - 232px);
  margin-left: 232px;
  height: calc(100% - 100px);
  margin-bottom: 90px;
}

/* Upgrade fisso */

.upgrade-fisso{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.3);
}

#upgrade-text{
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30px;
  margin-right: 20px;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#upgrade-text:hover{
  font-size: 16px;
}
/* Navigazione menu */

.pad-footer-top{
  padding-top:30px;
}

.pad-footer-bottom{
  padding-bottom: 15px;
}

.menu-nav-principale{
  display: flex;
  justify-content: center;
  padding-top: 105px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.menu-nav-principale li{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: rgb(163, 163, 163);
}

.menu-nav-principale li a{
  text-decoration: none;
  color: rgb(163, 163, 163);
  padding: 0 10px;
  font-weight: bold;
  font-size: 14px;
}

.menu-nav-principale li a:hover{
  color: white;
}

.linea-verde-menu:hover{
  position: relative;
  width: 150px;
  text-align: center;

}

.linea-verde-menu span{
  position: absolute;
  top: 25px;
  left: 60px;
  background: rgb(31, 255, 47);
  width: 30px;
  height: 3px;
  border-radius: 30px;
}



/* Recently played */

.recently-played{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recently-played li h5, .recently-played li h6{
  text-align: center;
}

.recently-played li{
  flex-basis: 15%;
  position: relative;
}

.recently-played li img{
  max-width: 100%;
  height: auto;
}

.recently-played li h5{
  font-weight: bold;
  color: white;
  padding-top: 10px;
  font-size: 18px;
}

.recently-played li h6{
  font-weight: bold;
  color: rgb(163, 163, 163);
  font-size: 14px;
}

/* Creato per John Doe */

.creato-john{
  display: flex;
}

.creato-john li{
  flex-basis: 15%;
  margin-right: 30px;
}

.creato-john li img{
  max-width: 100%;
  height: auto;
}

.creato-john li h5{
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  font-size: 18px;
}

/* Artisti piu popolari */

.artist-popolar{
  display: flex;
}

.artist-popolar li{
  flex-basis: 15%;
  margin-right: 30px;
}

.artist-popolar li img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.artist-popolar li h5{
  font-weight: bold;
  color: white;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

/* Play-over */

.play-over{
  position: relative;
}

.play-over:hover .play-absolute {
  opacity: 1;
}


.play-absolute {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .3s ease;
  cursor: pointer;
}

.testo-play {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-rotondo{
  border-radius: 50%;
}

/* Footer */

.back-color-footer{
  background-color: rgb(40, 40, 40);
  height: 90px;
  z-index: 1151;
}

.footer-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 90px;
}

/* Canzone */

.canzone{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.canzone img{
  max-width: 60px;
  max-height: 60px;
  margin: 0 10px;

}

.canzone ul li{
  display: inline-block;
  color: rgb(163, 163, 163);
}

.canzone ul li a{
  color: rgb(163, 163, 163);
  text-decoration: none;
}

.canzone ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canzone i{
  color: rgb(163, 163, 163);
}

.padding-can-fix{
  padding-left: 30px;
}

.hover-brano:hover{
  color: white;
  text-decoration: underline;
}

.padding-can-fix i:hover{
  color: white;
}

/* Play */

.play{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-flow: column;
  flex-basis: 50%;
}

.play ul li{
  display: inline-block;
}

.play ul{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.play i{
  color: white;
}

.block{
  display: block;
}

.play-linea{
  background-color: rgb(163, 163, 163);
  display: block;
  position: relative;
  border-radius: 30px;
  height: 5px;
  width: 20vw;
  margin: 5px 5px;
}

.play-linea-bianca{
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 4vw;
  height: 5px;
  border-radius: 30px;
}


.play-linea-bianca:hover{
  background: green;
}

.play-pallino-bianco{
  position: absolute;
  bottom: 18px;
  left: 35px;
  color: white;
  width: 4vw;
  height: 5px;
}


.timer h6{
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.play i{
  font-size: 16px;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
}

.fix-circle i{
  font-size: 30px;
}

.fix-circle i:hover{
  font-size: 35px;
}

/* Volume */

.volume{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.volume ul li{
  display: inline-block;
  padding: 0 10px;
}

.volume ul li i{
  color: white;
  font-size: 12px;
}

.volume ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.volume i{
  color: rgb(163, 163, 163);
}

.volume-linea{
  background-color: rgb(163, 163, 163);
  display: block;
  position: relative;
  border-radius: 30px;
  height: 4px;
  width: 6vw;
  margin-top: 5px;
}

.volume-linea-bianca{
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 1.5vw;
  height: 4px;
  border-radius: 30px;
}

.volume-linea-bianca:hover{
  background: green;
}

.volume-pallino-bianco{
  position: absolute;
  bottom: 0;
  left: 23px;
  top: -4px;
  color: white;

}
